@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

main {
  margin: 0 100px;
}

.section_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.blog-1 {
  font-size: 11px;
  width: 60%;
}
.blog-2 {
  width: 40%;
}

.blog-2 img {
  width: 70%;
}

#frist-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
}
#second-title {
  font-size: 700;
  font-size: 52px;
  line-height: 60px;
}
#third-title {
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
#frist-button {
  margin-top: 20px;
  text-decoration: none;
  color: aliceblue;
  background-color: #e02c6d;
  padding: 15px 40px;
  border-radius: 100px;
  font-size: 14px;
  display: inline-block;
}
#second-part {
  text-align: center;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
}
.third-part-frist-item {
  color: #18191f;
  size: 28px;
  width: 500;
}
.third-part-third-item {
  color: #787885;
}

.section_1 {
  display: flex;
}
.third-main-part {
  display: flex;
  justify-content: center;
}

.card {
  margin: 15px;
  background-color: red;
  padding: 15px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

footer {
  text-align: center;
  padding: 50px 20px;
  background-color: #0a0826;
  color: #fff;
}

.fab {
  color: #fff;
}

.fab {
  height: 35px;
  width: 35px;
  background-color: #22213c;
  line-height: 35px;
  border-radius: 50%;
}

.btn-parent {
  text-align: right;
  margin: 20px;
}

.btn-2 {
  text-decoration: none;
  color: #e02c6d;
  font-weight: bold;
}
.courses-info {
  color: yellow;
}

.icons {
  margin-top: 20px;
}

footer h6 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  line-height: 24px;
}

.card img {
  width: 100%;
}

@media (max-width: 600px) {
  main {
    margin: 0 10px;
    overflow-x: hidden;
  }

  .section_1 {
    height: 100%;
    flex-direction: column-reverse;
    align-items: stretch;
    text-align: center;
  }

  .blog-1 {
    width: 100%;
  }
  .blog-2 {
    width: 100%;
  }

  #second-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #3a3a3a;
  }

  #third-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  #frist-title {
    margin: 20px auto;
  }

  #second-part {
    margin-top: 30px;
  }

  .third-main-part {
    flex-direction: column;
  }
}
